<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705709936353-9dgfc0dsfu2q24varrfrb41unecd2o4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705709936353-9dgfc0dsfu2q24varrfrb41unecd2o4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705709936353-dbm9ij8he4aoi0s0ufk1v2l6plna0st6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfyhxPr55NabPYZOYzM3zVQhWI0B_1n7w</string>
	<key>GCM_SENDER_ID</key>
	<string>705709936353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talkto.stranger</string>
	<key>PROJECT_ID</key>
	<string>talktostranger-ed3ac</string>
	<key>STORAGE_BUCKET</key>
	<string>talktostranger-ed3ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705709936353:ios:2a555faf36ceb9caa2b1a0</string>
</dict>
</plist>